<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction Page</title>
</head>
<body>
    <div align="center">
        <h1>Please enter the following info:</h1>
        <form action="result">
            <label>pregnancies</label><br>
            <input type="text" name="n1"><br>
            <label>glucose</label><br>
            <input type="text" name="n2"><br>
            <label>blood pressure</label><br>
            <input type="text"name="n3"><br>
            <label>skin thickness</label><br>
            <input type="text" name="n4"><br>
            <label>insulin</label><br>
            <input type="text" name="n5"><br>
            <label>bmi</label><br>
            <input type="text" name="n6"><br>
            <label>diabetes pedigree function</label><br>
            <input type="text" name="n7"><br>
            <label>age</label><br>
            <input type="text" name="n8"><br>
            <br>
            <input type="submit" value="submit">
        </form>
        <p>Result:{{result2}}</p>
    </div>
</body>
</html>